h1{color: #28C7E0;-webkit-text-shadow: 0 0 3px #666;-moz-text-shadow: 0 0 3px #666;text-shadow: 0 0 3px #666; font-size:1.3em;}
h2{color: red;-webkit-text-shadow: 0 0 3px #666;-moz-text-shadow: 0 0 3px #666;text-shadow: 0 0 3px #666; font-size:2.0em;}

section#contenido, footer{
  margin: 0 auto;
  text-align: center;
}
section#principal{
  display: inline-block;
  margin-bottom: 1em;
  max-width: 960px;
}

/*eSTILOS PARA LA CAJA DE TEXTO*/
.panel{background: #16555B;margin: 0 auto;text-transform: uppercase;width: 960px;}

.buscar{border-bottom: 1px dashed #CCC;text-align: left;width: 100%; top:15em;}
.dos{text-align: right;}
.azul{color: #28C7E0;}
/*hasta aqi*/

.menu-pro{width:800px;}
.menu-pro ul{list-style: none;margin:0;padding:0;}
.menu-pro ul li a{background: #99CCFF url(../images/arrow.png) no-repeat center right;color: #FFF;display:block;font-size: 14px;padding:5px 0 5px 1em;text-align: left;text-decoration: none;}
/*.menu-pro ul li a:hover{background: #5DB1E0 url(../images/arrow2.png) no-repeat center right;}
.menu-pro ul.vinculos{list-style: none;font-family: Tahoma, Geneva, sans-serif;font-size: 16px;} */
.menu-pro ul li ul{display:none; width:100%; background-color:#E0FFFF;}    /*COLOR DEL CNTENIDO LISTADO*/
.menu-pro ul li ul a{background: #F5F5F5; color:#28C7E0; cursor: pointer; display:block;font-weight: normal;margin-top:2px;padding-left: 10px;text-decoration: none;}
.menu-pro ul li ul a:hover{color: #111;}

/* Buttons */
.boton2
 { 
width:100px; 
height: 30px; 
cursor: pointer; 
padding: 1 0 1 0; 
text-align: center; 
color: white; /*#0066ff*/
font-size: 0.999em; 
background:#6495ed;/*#0066cc*/
border:solid 2px #3366ff;
border-radius:10px;
}
.boton2:hover 
{ 
color:blue; 
background:#FFFFFF;
border:solid 2px #73a9c2; 
}


/*Estilos etiquetas de formulario*/
form {
  margin-bottom: 10px;
}
fieldset {
  border: 0;
  margin-bottom: 18px;
  padding-top: 18px;
}
form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  padding-top: 6px;
  margin-top: 1em;
  font-size: 13px;
  line-height: 18px;
  width: 120px;
  color: #404040;
}
input,
textarea,
select,
.uneditable-input {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #808080;
  display: inline-block;
  line-height: 18px;
  margin: .3em 0 0 0;
  padding: 4px;
  width: 200px;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
  margin-bottom: .5em;
}
select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus,input[type=radio], select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0px dotted #FF8C00;
}

/*Estilos div en columnas */

.columns_left{
float: left;
margin: 5px;
padding: 15px;
width: 350px;
height: auto;
}

.columns_right{
float: left;
margin: 5px;
padding: 15px 0 0 43px;
width: 350px;
height: 300px;
}
