h1{color: #28C7E0;-webkit-text-shadow: 0 0 3px #666;-moz-text-shadow: 0 0 3px #666;text-shadow: 0 0 3px #666; font-size:1.3em;}
h2{color: red;-webkit-text-shadow: 0 0 3px #666;-moz-text-shadow: 0 0 3px #666;text-shadow: 0 0 3px #666; font-size:2.0em;}

section#contenido, footer{
  margin: 0 auto;
  text-align: center;
}
section#principal{
  display: inline-block;
  margin-bottom: 1em;
  max-width: 960px;
}

/*ESTILOS PARA LA CAJA DE TEXTO*/
.panel{background: #16555B;margin: 0 auto;text-transform: uppercase;width: 960px;}

.buscar{border-bottom: 1px dashed #CCC;text-align: left;width: 100%; top:15em;}
.dos{text-align: right;}
.azul{color: #28C7E0;}
/*hasta aqi*/

.menu-pro{width:800px;}
.menu-pro ul{list-style: none;margin:0;padding:0;}
.menu-pro ul li a{background: #99CCFF url(../images/arrow.png) no-repeat center right;color: #FFF;display:block;font-size: 14px;padding:5px 0 5px 1em;text-align: left;text-decoration: none;}
/*.menu-pro ul li a:hover{background: #5DB1E0 url(../images/arrow2.png) no-repeat center right;}
.menu-pro ul.vinculos{list-style: none;font-family: Tahoma, Geneva, sans-serif;font-size: 16px;} */
.menu-pro ul li ul{display:none; width:100%; background-color:#E0FFFF;}    /*COLOR DEL CNTENIDO LISTADO*/
.menu-pro ul li ul a{background: #F5F5F5; color:#28C7E0; cursor: pointer; display:block;font-weight: normal;margin-top:2px;padding-left: 10px;text-decoration: none;}
.menu-pro ul li ul a:hover{color: #111;}

/* Buttons */
.boton2
 { 
width:100px; 
height: 30px; 
cursor: pointer; 
padding: 1 0 1 0; 
text-align: center; 
color: white; /*#0066ff*/
font-size: 0.999em; 
background:#6495ed;/*#0066cc*/
border:solid 2px #3366ff;
border-radius:10px;
}
.boton2:hover 
{ 
color:blue; 
background:#FFFFFF;
border:solid 2px #73a9c2; 
}


/*Estilos etiquetas de formulario*/
form {
  margin-bottom: 10px;
}
fieldset {
  border: 0;
  margin-bottom: 18px;
  padding-top: 18px;
}
form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  padding-top: 7px;
  padding-right: 5px;
  margin-top: .5em;
  margin-bottom: 1.5em;
  font-weight: bold;
  text-align: left;
  line-height: 15px;
  width: 170px;
  color: #404040;
}
input,
textarea,
select, .uneditable-input {
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  line-height: 18px;
  margin: .3em 0 0 0;
  padding: 4px;
  width: 400px;
  height: 40px;'
}

 /*Alinear el elemento de la lista donde se encuentra el radio buttom*/
.li_radio{
  float:left;
  padding-left: 110px;
}

input[type="radio"] {
  display:inline-block;
  width:19px;
  height:19px;
  margin:-3px 4px 0 30px;
  vertical-align:middle;
  cursor:pointer;
}

/*input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
  margin-bottom: .5em;
}*/

select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */
}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #6E6E6E;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
input:focus, textarea:focus {
  outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}
input[type=file]:focus, input[type=checkbox]:focus,input[type=radio], select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0px dotted #FF8C00;
}

/* Span de información requerida */
.span{
	color: red;
	font: bold 13px "Comic Sans MS";
	float : right;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 4px;
}

/*div de columnas en vista contacto*/

.columns_left{
float: left;
margin: 5px;
padding: 15px;
width: 350px;
height: auto;
background: red;
}

.columns_right{
float: left;
margin: 5px;
padding: 15px;
width: 350px;
height: auto;
}

/*Elementos validos y no validos*/
input[type=text]:valid, input[type=email]:valid, input[type=url]:valid, textarea:valid{
	background: #A9F5A9;
}

input[type=text]:invalid, input[type=email]:invalid, input[type=url]:invalid, textarea:invalid {
	background: #F6CECE;
}

/*#nuevoRegistro {margin: auto 0 50px 0;}*/

/*TINYtableSorter*/
.sortable .head h5 {background:url(../images/sort.gif) 7px center no-repeat; cursor:pointer; padding-left:15px}
.sortable .desc h5 {background:url(../images/desc.gif) 7px center no-repeat; cursor:pointer; padding-left:15px}
.sortable .asc h5 {background:url(../images/asc.gif) 7px  center no-repeat; cursor:pointer; padding-left:15px}
.sortable .head:hover, .sortable .desc:hover, .sortable .asc:hover {color:#fff}
/*.sortable td.evenselected {background:#ecf2f6}*/
/*.sortable td.oddselected {background:#dce6ee}*/

#controls {margin:5px auto 5px auto; height:30px; }
#perpage {float:left; width:310px; text-align:center; margin-left: 80px; }
#perpage select {float:left; font-size:11px; width:auto;}
#perpage span {float:left; margin:5px 0 0 5px;}
#text {float:left; width:345px; text-align:center; margin:5px 0 0 5px; }
#navpage{float:left; width:342px; text-align:right; margin:5px 0 0 5px; }
#navpage img {cursor:pointer}

/*#busquedad {
	border: 1px solid #ccc;
}*/

#busquedad label {
	/*float: left;*/
	padding-left: 10px;
	padding-right: 5px;
	/*font-weight: bold;*/
	text-align: left;
	width: auto;
	color: #404040;
}

#busquedad input, select {
	/*float: left;*/
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
  	border-radius: 5px;
  	width:250px;
  	height:auto;
}