fieldset { border:none;}
legend { font-size:18px; margin:0px; padding:10px 0px; color:#007FFF; font-weight:bold;}
label { display:block; margin:15px 0 5px;}
.prev, .next { background:#003e6d; padding:5px 10px; color:#fff; text-decoration:none;}
.prev:hover, .next:hover { background:#003e6d; text-decoration:none;}
.prev { float:left;}
.next { float:right;}
#steps { list-style:none; width:100%; overflow:hidden; margin:0px; padding:0px;}
#steps li {font-size:24px; float:left; padding:10px; color:#b0b1b3;font-weight:bold;}
#steps li span {font-size:13px; display:block;}
#steps li.current { color:#0D8000;}
