#miTabla {
	border-collapse : separate;
}

#miTabla caption{
	text-align: center;
	background-color: #003e6d;
	color: #fff;
	font-weight: 900;
	font-size: 20px;
	line-height: 1.2em;
	border: 3px solid  #fff;
	-Moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#miTabla th{
	/*estilo de los elementos(th)*/
	background-color: #16555b;
	color: #fff;
	font-weight: bold;
	border: 2px solid #fff;
	text-align: center;
	padding: 10px;
	cursor: default;
}

#miTabla td {
	/*estilo a los elementos (td)*/
	border: 2px solid #fff;
		-Moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

#miTabla tr:nth-child(odd) {
	/*para los colores de las filas impares*/
	background-color: #00d29a;
	color: #000;
	font-weight: 500;

}

#miTabla tr:nth-child(even) {
	/*para los colores de las filas pares*/
	background-color: #00e3cd;
	color: #000;
	font-weight: 500;
}

#miTabla tr:hover {
	background: #aae3cd;
	color: #000;
	cursor: pointer;
}

img.palomita:hover {
	background: url("../images/palomita.png") no-repeat;
}

#miTabla a 
{
	background: transparent;
	padding: 0 0;
}